*.pyc
*.cpp
*.pth

LFB/*
LFB/*.json
LFB/*/*/video*.json
LFB/dataset_feature/*.pkl
LFB/dataset_feature/*/*.pkl


OUTPUTS/expts/*.txt/local/logs/events.out.tfevents.*

R2A2/dataset/*
R2A2/expts/*
R2A2/outputs/*


