*.pyc
*.cpp
*.pth

LFB/*
LFB/*.json
LFB/*/*/video*.json
LFB/dataset_feature/*.pkl
LFB/dataset_feature/*/*.pkl


OUTPUTS/expts/*.txt/local/logs/events.out.tfevents.*

R2A2/dataset/*
R2A2/expts/*
R2A2/outputs/*


OUTPUTS/expts/*/local/per_video_ep*.json

external/*
external/*/*
OUTPUTS/expts/*/local/*.npy
OUTPUTS/expts/*/local/*.png
OUTPUTS/expts/*/local/plots/*/rtd/*.png

external/epic-kitchens-55-annotations
external/epic-kitchens-100-annotations
external/rulstm
datasets/*/labels/video_*_labels.npy


OUTPUTS/expts/*.txt/local/plots/*/*/*.png
OUTPUTS/expts/*.txt/local/*/*.json
OUTPUTS/expts/*.txt/local/*/*.yaml
OUTPUTS/expts/*.txt/local/*/*.yaml
OUTPUTS/expts/*.txt/local/plots/*/*/*/*.png
OUTPUTS/expts/*.txt/local/*/*.npy
OUTPUTS/expts/*.txt/local/*/*/*.json
datasets/*/*.npy

datasets/*/gt_remaining_time_*.json