pandas>1.3
lmdb
matplotlib
Pillow
ConfigArgParse
pathtools
pathlib
tqdm
tensorboard
torchmetrics
einops
monai
av
h5py
numpy
omegaconf
inquirer
hydra
hydra-core
hydra-submitit-launcher
moviepy
proglog
hydra-colorlog
matplotlib
pytz
PyYAML
pyzmq
pretrainedmodels
readchar
requests
requests-oauthlib
rsa
sacremoses
scipy==1.4.1
seaborn
Send2Trash
setuptools
six
submitit
termcolor
terminado
testpath
timm==0.4.12
tokenizers
toml
tornado
traitlets
transformers
typed-ast
typing-extensions
wcwidth
webencodings
Werkzeug
wheel
regex
ftfy
git+https://github.com/openai/CLIP.git
hidden_markov




